body {
    font-family: sans-serif;
    padding: 0px;
    background: url(/images/backrev.jpg);
    background-repeat:repeat;
    background-position:center;
}

.form {
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    border-radius: 0px 0px 16px 16px;
}

form {
    padding-bottom: 10px;
    height: ;
    width: ;
}

.reg-img {
    width: 300px;
    padding-bottom: 20px;
}

.lhead {
    color: white;
    font-weight: 300;
    letter-spacing: 0.8px;
}

